:root {
	--dark-color-a: #63ad6a;
	--dark-color-b: #92cc86;
	--light-color: #cef7ce;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

  #chat-container {
	width: 100%;
	overflow-y:auto;
	height: 400px;
  }

  #chat-container div {
	padding: 5px;
	  margin-bottom: 15px;
	  background-color: #cef7ce;
	  border-radius: 5px;
  }

  #text {
	  font-size: 15px;
	  font-weight: bold;
	  color: #33853b;
	  opacity: 0.7;
	  margin-bottom: 7px;
  }

  .form-container {
	padding: 20px 30px;
	bottom: 0px;
	background-color: #83d483;
	align-content: center;
	}
  .form-container form{
	display: flex;
  }
  .form-container #chat-input{
	font-size: 16px;
	  padding: 5px;
	height: 40px;
	flex: 1
  }
  .form-container #send-button{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 0px 40px;
	text-align: center;
	text-justify: center;
	height: 40px;
	font-size: 16px;
  }
  .container{
	max-width: 1000px;
	  background: #fff;
	margin:  auto;
	overflow: hidden;
  }
  .row-header{
	background: #83d483;
	  color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	text-align: center;
  }
  .row-content{
	max-height:550px;
  }
  .sidebar{
	background: #a5e2a5;
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: auto;
  }


/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
	
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
